<div class="ariane-thread" ng-controller="ArianeCtrl">
  <ul>
    <span ng-repeat="location in locations">
      <li>
        <a ng-href="/#/{{location.url}}"><p ng-class="{arianeHere: $last}">{{location.name}}</p></a>
      </li>
      <li ng-hide="$last">
        <i class="icon ion-ios-arrow-thin-right"></i>
      </li>
    </span>
  </ul>
</div>

<div class="cart-messages" ng-show="showCartMessage">
  <p>
    <i class="icon ion-checkmark"></i>
    {{lastProduct}} was successfully added to your shopping cart
  </p>
</div>

<div class="cart-empty" ng-show="isEmpty()">
  Your cart is currently empty. Go add items to it!
</div>

<table class="cart-detail" ng-hide="isEmpty()">
  <thead>
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Qty</th>
      <th scope="col">Subtotal</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="item in items">

      <td class="cart-name-col">
        <div class="cart-item-img-container">
          <div class="cart-item-img">
            <img ng-src="{{item.image}}" alt="item image">
          </div>
        </div>
        <div class="cart-item-name-container">
          <p class="cart-item-name">{{item.name}}</p>
        </div>
        <div class="cart-item-edit-container">
          <md-button class="cart-item-edit">Edit</md-button>
        </div>
      </td>
      <td class="cart-price-col">{{item.price | currency}}</td>
      <td class="cart-quantity-col">
        <input type="number" ng-model="item.quantity" ng-change="updateTotalPrice()">
      </td>
      <td class="cart-subtotal-col">{{item.price * item.quantity | currency}}</td>
      <td class="cart-delete-col">
        <md-button class="cart-item-delete" ng-click="remove(item.name)">x</md-button>
      </td>

    </tr>
  </tbody>
</table>

<div class="cart-total-price" ng-hide="isEmpty()">
  <p>Total price: {{totalPrice | currency}}</p>
</div>

<div class="cart-controls">
  <a href="/#/"><md-button class="cart-continue-btn">CONTINUE SHOPPING</md-button></a>
  <md-button class="md-warn md-raised cart-update-btn">UPDATE SHOPPING CART</md-button>
</div>
